<section class="instagram spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <a href="https://www.instagram.com/capart.ge/" target="_blank">
                <div class="instagram__pic">
                    <div class="instagram__pic__item set-bg" data-setbg="{{ 'assets/img/instagram/instagram-1.jpg'|theme }}"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="{{ 'assets/img/instagram/instagram-2.jpg'|theme }}"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="{{ 'assets/img/instagram/instagram-3.jpg'|theme }}"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="{{ 'assets/img/instagram/instagram-4.jpg'|theme }}"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="{{ 'assets/img/instagram/instagram-5.jpg'|theme }}"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="{{ 'assets/img/instagram/instagram-6.jpg'|theme }}"></div>
                </div>
                </a>
            </div>
            <div class="col-lg-4">
                <div class="instagram__text">
                    <h2>Instagram</h2>
                    <p>მეტი სურათისთვის ეწვიეთ ჩვენს Instagram გვერდს</p>
                    <a href="https://www.instagram.com/capart.ge/" target="_blank"><h3>#capart.ge</h3></a>
                </div>
            </div>
        </div>
    </div>
</section>